/* CSS declarations go here */

#welcome{
  margin-left:75px;

}

#item {
     /*text-align: center;*/
    margin-left:0px;

}

#item0 {
  float:left;
  width:auto;
  margin-left:35px;
  margin-top: 1.0em;
  cursor: pointer;
}

#item0 li {
  width: 30px;
  height: 30px;
  display:inline-block;

}

#item1 {
  float:left;
  width:auto;
  margin-left:50px;
}

#item2 {
  float:left;
  width:auto;
  margin-left:50px;
}


#item3 {
  float:left;
  width:auto;
  margin-left:50px;
  margin-top: 1.0em
}

body{
  padding-top: 60px;
  /*background-color: yellow;*/
}

.contents{
  /*margin-left:60px;*/
  /*background-color: cyan;*/
  float: right;

}

#outer {
   /*padding-bottom: 100%; */
   /*text-align: center;*/
    margin-left:60px;
    /*margin-right:360px;*/

    float: left;
    /*background-color: yellowgreen;*/
}

#outer_2 {
  /*padding-bottom: 100%; */
  /*text-align: center;*/
   margin-left:15px;
   /*margin-right:360px;*/

   float: left;
   /*background-color: yellowgreen;*/
}

#canvas{
   border: solid 1px blue; 
}

#commentList {
  /*margin-left:880px;*/
  float: right;
  width: 200px;
  /*display: inline-block;*/
  /*margin-left:60px;*/
  clear: both;
  /*background-color: red;*/
}

li.comment{
  width: 220px;
  /*margin-right:40px;*/
  word-wrap: break-word;
}

